setDynamicModalShow = function() {
  $('.notificationModalShow').bind('click', function(event)
  {
    event.preventDefault();
    event.stopPropagation();
    $('#notificationModalView').modal('show');
    $('#notificationsResult').hide();
    $.ajax({url: $(this).attr('href'),dataType: 'script'})
  });
}


<% if !(@notifications.empty?) %>
  $('#notificationSprite').html('').append('<div id="notificationsResult" class="generalContainer"></div>');
  <% @notifications.each do |notification| %>
    <% notification.seen = true %>
    <% notification.save! %>
    <% output = render_activity(notification) %>
    <% if output != '' %>
      $('#notificationsResult').append('<div class= "notificationsResult"><%= j output%></div>');
    <% end %>
  <% end %> 
  $('#notificationSprite').prepend('<div id="notificationSpriteContent">Notifications</div>').find('a.appLinks').remove();
  $('#notificationsResult').append('<p class="centerAlignText"><a href="/notifications">More</a></p>') ;
 
  // on click on body hide the notificationResult
  $('body').bind('click keyup', function(event){
    if(event.type == 'click' || event.keyCode == 27)
    $('#notificationsResult').hide(); 
  });
 
 // on click on the tab show the notificationResult
  $('#notificationSprite').bind('click', function(event) {
    event.stopPropagation();
    $('#notificationsLoading').remove();
    $('#notificationsResult').show();
  });

  setDynamicModalShow();

<% else %>
  $('#notificationsLoading').remove();
  alert('No notifications for you!!');
<% end %>