<div id="groupList" class="normalText showList"> 
  <div class="showListItem">Listing all the groups in your company</div> 
  <%for group in @groups %>
    <div class="showListItem">
      <div class="floatLeft"><%= link_to image_tag("ror.png", class: "higlightPicture largeImage"), group %>
      </div>
      <div class="middleContent">
        <div><%=link_to group.name.humanize, group %></div>
        <div>This is a sample description</div>
      </div>
      <div class="floatRight"><%= render :partial => 'join_us', locals:{ group: group } %></div>
    </div>
  <% end %>
</div>
<div class="groupPageFinished normalText centerAlignText">End of page</div>