<div class="page-header" id="groupPage">
  <%= render partial:'group_profile', locals: {group: @group} %>

  <% if current_user.groups.include?(@group) ||  user_privileged?(@group) %>
    <div id="postContainer">
      <%= render partial: 'posts/compose_post',locals: { not_posting_in_a_group: false } %>
    </div> <!-- end of post container -->

      <%= render partial: 'posts/posts', locals: {posts: @group.posts} %>
  <% else %>
    <hr/>
    <div class="groupPageFinished">Join to view group details</div>  
  <% end %>
</div>