<div class="page-header" id="groupPage">
  <%= render partial:'group_profile', locals: {group: @group} %>

  <% if current_user.group_memberships.find_by(group_id: @group.id).try(:approved?) ||  can?(:read, @group) %>
    <div id="postContainer">
      <%= render partial: 'posts/compose_post',locals: { not_posting_in_a_group: false } %>
    </div> <!-- end of post container -->

      <%= render partial: 'posts/posts', locals: {posts: @group.posts.order('updated_at DESC')} %>
  <% else %>
    <hr/>
    <% if current_user.group_memberships.find_by(group_id: @group.id).try(:pending?) %>
      <div class="groupPageFinished centerAlignText">Wait till the admin approves your membership</div>  
    <% else %>
      <div class="groupPageFinished centerAlignText">Please join the group to view its posts</div>
    <% end %>
  <% end %>
</div>