<div class="page-header">
  <%= render partial: 'mini_profile', locals: {user: @user} %>
  
  <div id="postContainer">

    <!-- if current user can post -->
    <% if(current_user.id == @user.id) %>
      <%= render partial: 'posts/compose_post' %>
    <% end %>
    <% cache 'my_posts' + @user.name, skip_digest: true do %>
      <%= render partial: 'posts/posts', locals: { posts: extract_viewable_posts(@user, current_user) } %>
    <% end %>
  </div>
  
  </div>