<div class="page-header">
  <%= render partial: 'mini_profile', locals: {user: @user} %>
  <% if(current_user.followees.include?(@user)) || current_user == @user %>
  
  <div id="postContainer">

    <!-- if current user can post -->
    <%= render partial: 'posts/compose_post' %>

    <%= render partial: 'posts/posts', locals: {posts: @user.posts} %>
  </div>
  
  <% else %>
    <div class="centerAlignText borderAbove" id="followNoticeBox">Follow the user to see his/her conversation</div>
  <% end %>
</div>