$('#userTagList').remove();
<% if !(@users.empty?) %>
  var result = '';
  $('#composePostContent').after('<div id="userTagList" class="generalContainer"></div>');
  <% for user in @users %>
    result += '<div class="userTagList"><%= j link_to(user.name, user, data: {id: user.id, name: user.name})%></div>'
  <% end %>
  $('#userTagList').html(result);

  // on click on body or escape key remove the userTagListDiv
  $('body').bind('click keyup', function(event){
    if(event.type == 'click' || event.keyCode == 27)
      $('#userTagList').remove(); 
  });

  // adding a tag 
  $('.userTagList a').click(function(e){

    hidden_post_tags_field = $('#postTags');
    e.preventDefault();
    if(hidden_post_tags_field.length == 1)
    {
      hidden_post_tags_field.val(hidden_post_tags_field.val() + ' ' + $(this).attr('data-id'))
      hidden_post_tags_field.attr('data-name',hidden_post_tags_field.attr('data-name') + $(this).attr('data-name') + '-')
    }
    else
      $('.composePostContentOptions').append('<input type="hidden" id="postTags" name="post[tags]" value="'+ $(this).attr('data-id') +'" data-name= "'+ $(this).attr('data-name') +'-" />')
    str = '@<%=params[:query]%>'.replace(/\%/g,'');
    $('#composePostContent').val($('#composePostContent').val().replace(str, $(this).text()))
    $('#composePostCopy').html($('#composePostCopy').html().replace(str,'<span class="tagBackground">' + $(this).text() + '</span>'))
    $('#userTagList').remove();

  });
<%end%>

