// remove previous results
$('#userTagList').remove();
<% if !(@users.empty?) %>
  var result = '';
  var selected_text_field = '<%= params[:text_box_id]%>'
  $('#' + selected_text_field).after('<div id="userTagList" class="generalContainer"></div>');
  <% for user in @users %>
    result += '<div class="userTagList"><%= j link_to(user.name, user, data: {id: user.id, name: user.name})%></div>'
  <% end %>
  $('#userTagList').html(result);

  // on click on body or escape key remove the userTagListDiv
  $('body').bind('click keyup', function(event){
    if(event.type == 'click' || event.keyCode == 27)
      $('#userTagList').remove(); 
  });

  // adding a tag 
  $('.userTagList a').click(function(e){

    e.preventDefault();

    if($('#' + selected_text_field).siblings('.postTags').length == 1)
    {
      hidden_post_tags_field = $('#' + selected_text_field).siblings('.postTags');
      hidden_post_tags_field.val(hidden_post_tags_field.val() + ' ' + $(this).attr('data-id'))
      hidden_post_tags_field.attr('data-name',hidden_post_tags_field.attr('data-name') + $(this).attr('data-name') + '-')
    }
    else
      // add new hidden field
      $('#' + selected_text_field).after('<input type="hidden" class="postTags" name="post[tags]" value="'+ $(this).attr('data-id') +'" data-name= "'+ $(this).attr('data-name') +'-" />')
    
    //replace text input from username
    str = '@<%=params[:query]%>'.replace(/\%/g,'');
    $('#' + selected_text_field).val($('#' + selected_text_field).val().replace(str, $(this).text()))
    $('#' + selected_text_field).prev('.composeTextCopy').html($('#' + selected_text_field).prev('.composeTextCopy').html().replace(str,'<span class="tagBackground">' + $(this).text() + '</span>'))
    // remove the tag list
    $('#userTagList').remove();

  });
<%end%>

