<% if(current_user.id == @user.id) %>
  <div id="composePost">
    <%= form_tag '/posts',id: 'postForm' do %>
      <%= text_field_tag 'post[content]', '', placeholder: 'Start a conversation...', id: 'composePostContent', class: "normalText", autocomplete: "off" %> 
      <% groups_array = [['Public', nil]] %>
      <% groups_array += current_user.groups.map { |group| [group.name.humanize, group.id] } %>
      <div class="composePostContentOptions">
        <div> 
          <span> Group </span> 
          <%= select_tag 'post[group_id]', options_for_select(groups_array), class: 'selectBoxSmall', id: "groupSelect" %>
          <%= submit_tag 'Post',class: 'btn-success postButton' %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>