// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#groupDescriptionContainer
{
  text-align:center;
  color:white;
}

.groupPosts
{
  width:100%
}


#composePostContent
{
  margin-top:1em;
  height:3em;
  width:98%;
}

.groupPageFinished
{
  text-align:center;
  width:100%
}


.postAuthor a
{
  color:blue !important;
}

.postContent
{
  margin-top:1em;
}