// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#miniProfile
{
  text-align:center;
  padding:1em;
  color:white;
  margin-top:-1em;
}

#avatarHolder,#formHolder
{
  display:inline-block;
}


#avatarContainer
{
  position:absolute;
  top:12em;
  right:23em;
}

#formHolder
{
  margin-left:-6em;
}