// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#miniProfile
{
  text-align:center;
  padding:1em;
  color:white;
  margin-top:-1em;
}

#avatarHolder, #formHolder
{
  display:inline-block;
}

#formHolder
{
  width:60%;
  text-align:left;
}

#avatarContainer
{
  display:inline-block;
  border-color:black;
  position:relative;
  left:2em;
  max-width:30%;
  margin-right:6%;
}


#followNoticeBox
{
  margin-top:1em;
}

#updateProfile
{
  margin-top:-2em;
}

#updateProfile a
{
  color:white;
}

#updateProfile form
{
  margin:0px;
  padding:0px;
}