<div class="page-header" id="groupPage">
  <%= render partial:'groups/group_profile', locals: {group: @group} %>
  <div id="memberList" class="normalText showList"> 
    <div class="showListItem">Listing all the members of this group</div> 

    <%= render partial: 'members_list', locals: {users: @pending_users} %>

  </div>
  <div class="groupPageFinished normalText centerAlignText">End of page</div>
</div>