<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey, <%= @user.name %></h1>
    <p>
      <%= link_to(@follower.name.titleize, user_url(id: @follower, company: @company) ) %> 
        started following you  
    </p>
    <hr/>
    <p>This is a system generated e-mail, Kindly do not reply </p>
  </body>
</html>