<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey, <%= @user.name %></h1>
    <p>
      You were tagged in the 
      <%= link_to('post', post_url(id: @post, company: @company) ) %>  
    </p>
    <hr/>
    <p>This is a system generated e-mail, Kindly do not reply </p>
  </body>
</html>